<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <!-- 這個片段要寫 JS(JavaScript) -->
    <!-- 函式名稱(參數) -->
    <%- include('./layout/navbar') %>

    <h1>這個是首頁 版本：21:15</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut qui pariatur impedit, nam modi unde iure, odio exercitationem at aspernatur nostrum voluptates. Ipsum soluta ex, quod explicabo totam aperiam amet.</p>


    <%- include('./layout/footer') %>

    <!-- 這行不要動他（Vite Dev 模式的核心） -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
